.blog-roll {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.blog-roll--header {
  display: flex;
  justify-content: space-between;
}

.blog-roll--title {
  font-weight: var(--fw-bold);
  &:link,
  &:visited,
  &:link:active,
  &:visited:active {
    color: var(--black-300);
  }
}

.blog-roll--date {
  color: var(--black-100);
  font-size: var(--fs-small);
}

.blog-roll--taxonomy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (width > 768px) {
    flex-direction: row;
  }
}

.blog-roll--taxonomy--label {
  font-size: var(--fs-small);
}
