.footer {
  padding: 0;
  margin-top: 3rem;

  @media only screen and (width > 430px) {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }
}

.footer--wrapper {
  background: var(--millefeuille-hero-bg);

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  padding: 2rem 1rem;

  @media only screen and (width > 430px) {
    border-radius: 1rem;
    padding: 2rem;
  }

  > * + * {
    margin-top: 4rem;
  }
}

.footer--body {
  padding: 1rem;
  background: color-mix(in srgb, var(--black-300) 20%, transparent);
  border-radius: 0.75rem;

  color: var(--ivory-100);
  box-shadow: var(--shadow);

  > * + * {
    margin-top: 1rem;
  }

  :link,
  :visited,
  :link:active,
  :visited:active {
    color: var(--ivory-100);
  }

  @media only screen and (width > 430px) {
    padding: 2rem;
  }
}

.footer--nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @media only screen and (width > 430px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer--credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: var(--fs-small);

  @media only screen and (width < 431px) {
    > *:nth-child(1) {
      order: 2;
    }
  }

  @media only screen and (width > 430px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
.footer--social {
  display: flex;
  gap: 1rem;
  line-height: 0; // remove excess space around images

  > * {
    flex: 1;
  }
}
