.taxonomy {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tags-list {
  display: flex;
  align-items: center;
  gap: 0.25rem 0.5rem;
  flex-wrap: wrap;

  > * {
    font-size: var(--fs-mini);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--rose-100);
    color: var(--black-500);
  }
}

.category {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--red-100);
  font-size: var(--fs-mini);
  font-style: italic;
  align-self: flex-end;
  color: var(--black-100);
}
.series {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--green-100);
  font-size: var(--fs-mini);
  font-style: italic;
  align-self: flex-end;
  color: var(--black-100);
}
