---
import Layout from "@/components/layout.astro";
---

<Layout title="About Me">
  <p>
    I'm a freelance software engineer building
    <a href="https://millefeuille.app/">Millefeuille</a>, a personal finance
    managment app.
  </p>
</Layout>
