---
import { getCollection } from 'astro:content';
import { Content } from '@/__content/pages/cpta.md';
import Layout from '@/components/layouts/default.astro';
import BlogRoll from '@/components/blog-roll/blog-roll--simple.astro';

const allBlogPosts = (await getCollection('blog'))
  .filter((post) => post.data.series === 'CPTA')
  .sort((a, b) =>
    a.data.date.localeCompare(b.data.date, undefined, { numeric: true }),
  );

const posts = allBlogPosts.filter(
  (note) => note.data.category !== 'study notes',
);
const studyNotes = allBlogPosts.filter(
  (note) => note.data.category === 'study notes',
);
---

<Layout title="Becoming a Certified Public Tax Accountant in Japan">
  <Content />

  <section>
    <h2>Glossary</h2>

    <p>blah blah</p>
  </section>

  <p>tag cloud</p>

  <div class="grid-auto-fill min-col-width-40">
    <div>
      <h3>Posts ({posts.length})</h3>
      <BlogRoll posts={posts} hideCategory hideSeries hideTags />
    </div>

    <div>
      <h3>Study Notes ({studyNotes.length})</h3>
      <BlogRoll posts={studyNotes} hideCategory hideSeries hideTags />
    </div>
  </div>
</Layout>
