.metadata {
  font-size: var(--fs-small);
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: var(--black-100);
}

.taxonomy {
  text-align: right;

  > * + * {
    margin-top: 0.25rem;
  }

  > * {
    // Forces the tag list to align right
    justify-content: flex-end;
  }
}

.contents {
  color: var(--black-500);
  overflow-wrap: break-word;
  hyphens: manual;

  > * + * {
    margin-top: 1rem;
  }

  :link,
  :visited,
  :link:active,
  :visited:active {
    text-decoration: underline;
  }
}
