.header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.title {
  font-weight: var(--fw-bold);
  &:link,
  &:visited,
  &:link:active,
  &:visited:active {
    color: var(--black-300);
  }
}

.date {
  color: var(--black-100);
  font-size: var(--fs-small);
}

.taxonomy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (width > 768px) {
    flex-direction: row;
  }
}

.taxonomyLabel {
  font-size: var(--fs-small);
}
