---
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { date, category, series, tags } = Astro.props;
---

<div class="metadata">
  <span>published: {date}</span>

  <section class="taxonomy">
    {
      category && (
        <section>
          <span>category: {category}</span>
        </section>
      )
    }

    {
      series && (
        <section>
          <span>
            part of series: <a>{series}</a>
          </span>
        </section>
      )
    }

    {
      tags && tags.length > 0 && (
        <section>
          tags:
          {tags.map((t, i) => (
            <span>
              {i > 0 && ","} {t}
            </span>
          ))}
        </section>
      )
    }
  </section>
</div>

<article class="contents">
  <slot />
</article>
