---
import { type CollectionEntry } from 'astro:content';

import Tags from '@/components//taxonomy/tags.astro';
import Category from '@/components//taxonomy/category.astro';
import Series from '@/components//taxonomy/series.astro';

type Props = CollectionEntry<'blog'>['data'];

const { date, category, series, tags } = Astro.props;
---

<div class="metadata">
  <span>published: {date}</span>

  <section class="taxonomy">
    {
      category && (
        <section>
          <span>
            category: <Category value={category} />
          </span>
        </section>
      )
    }

    {
      series && (
        <section>
          <span>
            part of series: <Series value={series} />
          </span>
        </section>
      )
    }

    {
      tags && tags.length > 0 && (
        <section>
          tags:
          <Tags values={tags} />
        </section>
      )
    }
  </section>
</div>

<article class="contents">
  <slot />
</article>
