---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

{
  posts.map((a) => (
    <article class="blog-roll">
      <span class="blog-roll--date">{a.data.date}</span>

      <h2>
        <a class="blog-roll--title" href={`/blog/${a.id}`}>
          {a.data.title}
        </a>
      </h2>

      <span class="blog-roll--category">{a.data.category}</span>
    </article>
  ))
}
