---
import { getCollection } from "astro:content";

import Layout from "@/components/layout.astro";
import BlogRoll from "@/components/blog-roll.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) =>
    b.data.date.localeCompare(a.data.date, undefined, { numeric: true }),
  )
  .map((post) => ({
    ...post,
    id: post.id.substring(6),
  }));
---

<Layout title={`all articles (${posts.length})`}>
  <div>

    <div>
      Categories
        <button>thoughts</button>
        <button>dev</button>
        <button>blah</button>
        <button>food</button>
        <button>asdf</button>
    </div>

    <div>
      Tags
        <button>thoughts</button>
        <button>dev</button>
        <button>blah</button>
        <button>food</button>
        <button>asdf</button>
        <button>thoughts</button>
        <button>dev</button>
        <button>blah</button>
        <button>food</button>
        <button>asdf</button>
        <button>thoughts</button>
        <button>dev</button>
        <button>blah</button>
        <button>food</button>
        <button>asdf</button>
        <button>thoughts</button>
        <button>dev</button>
        <button>blah</button>
        <button>food</button>
        <button>asdf</button>
    </div>

    <div>
        <details>
          <summary>Series</summary>
          <ui>
            <li>thoughts</li>
            <li>dev</li>
            <li>blah</li>
            <li>food</li>
            <li>asdf</li>
          </ui>
        </details>
    </div>
  </div>
  <BlogRoll posts={posts} />
</Layout>
