---
import { getCollection } from 'astro:content';

// import Article from '@/components/article.astro';
import Layout from '@/components/layout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))];

  return tags.map((tag) => ({
    params: { tag },
    props: { posts: allPosts.filter((post) => post.data.tags.includes(tag)) },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <div>
    {tag}
  </div>
  <div>
    {
      posts.map((p) => (
        <p>
          <a href={`/blog/${p.id}`}>{p.data.title}</a>
        </p>
      ))
    }
  </div>
</Layout>
