---
import { type CollectionEntry, getCollection, render } from "astro:content";

import Article from "@/components/article.astro";
import Layout from "@/components/layout.astro";


export async function getStaticPaths() {
    const posts = (await getCollection("blog"))
    const tags = [...new Set(posts.flatMap((post) => post.data.tags))]

  return tags.map((tag) => ({
    params: {tag}
  }))
}
type Props = CollectionEntry<"blog">;

const { tag } = Astro.params;
---

<Layout title={tag}>
  <div>
    {tag}
  </div>
</Layout>
