.metadata {
  font-size: var(--fs-small);
  display: flex;
  justify-content: space-between;
  font-style: italic;

  padding-inline: 1rem;
  color: var(--black-100);
}

.taxonomy {
  text-align: right;
}

.contents {
  padding-inline: 1rem;
  margin-top: 1rem;
  color: var(--black-500);
  overflow-wrap: break-word;
  hyphens: manual;

  > * + * {
    margin-top: 1rem;
  }

  img {
    max-width: 100%;
  }

  :link,
  :visited,
  :link:active,
  :visited:active {
    text-decoration: underline;
  }
}
