.header--container {
  display: flex;
  align-items: center;
  padding-inline: 1rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 1rem;

  backdrop-filter: blur(2px);
}

.header {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  background: var(--millefeuille-hero-bg);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 0.5rem;

  @media only screen and (width < 431px) {
    .millefeuille-cta {
      display: none;
    }
  }
}

.header--nav {
  display: none;

  :link,
  :visited,
  :link:active,
  :visited:active {
    color: var(--black-200);
  }

  @media only screen and (width > 430px) {
    display: flex;
    gap: 1rem;
    margin-left: auto;

    font-size: var(--fs-small);
  }
}

.site-logo {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  white-space: nowrap;
  margin-left: 0.5rem;

  :link,
  :visited,
  :link:active,
  :visited:active {
    color: var(--black-300);
  }
}
