html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: var(--serif);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: var(--ivory-100);
  color: var(--black-300);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  > * {
    max-width: var(--max-content-width);
    margin-inline: auto;
    width: 100%;
  }

  @media only screen and (width > 768px) {
    font-size: 1.2rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--fs-extralarge);
}
h2 {
  font-size: var(--fs-large);
}

// Quotes in content
blockquote {
  margin: 0;
  padding-left: 1.5rem;
  border-left: 2px solid var(--green-100);
  color: var(--black-200);
}

// Code blocks
pre {
  white-space: pre-wrap;
}

// Set links to always be the default html blue
:link,
:visited,
:link:active,
:visited:active {
  color: #0000ee;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
