:root {
  --grid-min-col-size: 250px;
}

/* Reusable responsive grid that sizes each column to the minimal size --grid-min-col-size var */
.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min-col-size), 100%), 1fr)
  );
  gap: 1rem;

  &.no-gap {
    gap: 0;
  }
}
/* the var defined in the root is a global min size but it can be overridden when used */
.override-grid-col-size {
  --grid-min-col-size: 200px;
}

/*
A wrapper grid with 12 columns and a 1.5rem gutter 
Useful for wrapping the entire page
*/
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1.5rem;
  // TODO: needs a max width
}

// for colours page
.w500 {
  width: 1000px;
}

.min-col-width-40 {
  --grid-min-col-size: 40ch;
}

// force items to the display on the right
.flex-right {
  margin-left: auto;
}

.colours-page {
  > * {
    padding: 25px;
    text-align: center;
    // color: white;
    text-transform: uppercase;
  }
}
