:root {
  // Typography
  --sans-serif:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  --serif:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;

  --mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  // Widths
  --max-content-width: 80rem;

  // Font sizes
  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
  --fs-extralarge: 2rem;

  // Font weights
  --fw-bold: 600;

  // Colors
  --black-100: #555562;
  --black-200: #42424c;
  --black-300: #2d2d34;
  --black-400: #1c1c21;
  --black-500: #09090b;
  --black: 45, 45, 52;
  --red-100: #e87386;
  --red-200: #e25068;
  --red-300: #dd2d4a;
  --red-400: #c11f3a;
  --red-500: #931a30;
  --red: 221, 45, 74;
  --ivory-100: #fffce8;
  --ivory-200: #fffad6;
  --ivory-300: #fff7c2;
  --ivory-400: #fff4ad;
  --ivory-500: #fff199;
  --ivory: 255, 252, 232;
  --green-100: #a4ad99;
  --green-200: #8f9b82;
  --green-300: #748067;
  --green-400: #66715b;
  --green-500: #525b49;
  --green: 116, 128, 103;
  --rose-100: #d9d0dd;
  --rose-200: #c6b8cc;
  --rose-300: #af9bb6;
  --rose-400: #a189a9;
  --rose-500: #8e7198;
  --rose: 175, 155, 182;

  --millefeuille-hero-bg: linear-gradient(
    35deg,
    color-mix(in srgb, var(--rose-300) 80%, transparent) 0%,
    color-mix(in srgb, var(--red-100) 80%, transparent) 50%,
    color-mix(in srgb, var(--red-300) 80%, transparent) 100%
  );

  --shadow: 0px 0.5rem 1rem -0.25rem
    color-mix(in srgb, var(--black-300) 20%, transparent);
}

// method to add alpha to colour var
// https://stackoverflow.com/a/71098929
// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-mix
// background: color-mix(in srgb, var(--color) 70%, transparent);
