---
import classnames from 'classnames';

interface Props {
  value: string;
  type: 'tags' | 'categories' | 'series';
  className?: string;
}

const { value, type, className } = Astro.props;
---

<a class={classnames('pill', className, type)} href={`/${type}/${value}`}>
  {value}
</a>
