---
import Tags from './tags.astro';
import Series from './series.astro';
import Categories from './categories.astro';
---

<div class="taxonomy">
  <section class="">
    <span>Categories</span>
    <Categories />
  </section>

  <section class="">
    <span>Tags</span>
    <Tags />
  </section>

  <section class="">
    <span>Series</span>
    <Series />
  </section>
</div>
