---
import Tags from './tags.astro';
import Series from './series.astro';
import Categories from './categories.astro';
---

<div class="taxonomy-container">
  <section>
    <span class="taxonomy--label">Categories</span>
    <Categories />
  </section>

  <section>
    <span class="taxonomy--label">Tags</span>
    <Tags />
  </section>

  <section>
    <span class="taxonomy--label">Series</span>
    <Series />
  </section>
</div>
