---
// import { Content } from '@/__content/pages/cpta.md';
import Layout from '@/components/layouts/default.astro';
---

<Layout title="Balance Sheet">
  <!-- <Content /> -->

  <p>Contents and structure of a Balance Sheet with explanations</p>
</Layout>
