---
// import { Content } from '@/__content/pages/cpta.md';
import Layout from '@/components/layouts/default.astro';
---

<Layout title="Japanese Accounting Dictionary">
  <!-- <Content /> -->

  <p>A dictionary of Japanese accounting terms</p>
</Layout>
