---
// import { Content } from '@/__content/pages/cpta.md';
import Layout from '@/components/layouts/default.astro';
---

<Layout title="Profit and Loss Statement">
  <!-- <Content /> -->

  <p>Contents and structure of a PnL with explanations</p>
</Layout>
